*{
  margin: 0%;
}
.block{
  height: 150px;
  width: 150px;
 border: 5px solid black;
 background-size: cover;
 display: inline-block;
}
.App{
 
  width:100%;
  height: 100%;
 background-image: linear-gradient(to right top, rgb(108, 214, 240),rgb(18, 57, 115));
 
}
.board{
 margin: 200px 500px 200px 500px;
 
}
.mark1{
background-color: rgb(243, 237, 237);
}
.mark2{
  background-color: rgb(53, 54, 36);
}
.heading{
  height: 800px;
  display: block;
  align-items: center;
}
h1{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 50px;
  padding-top: 5px;
  font-size: 47px;;
}